/* FONT VARIABLES */
$font-primary: "Josefin Sans", sans-serif;

/* COLORS VARIABLES */
$color-text: rgb(58, 58, 58);
$color-background: #ffffff;
$color-primary: rgb(254, 173, 166);

/* BOX SHADOW VARIABLES */
$box-shadow-outset-s: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
$box-shadow-outset-l: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
$box-shadow-inset: inset 2px 2px 6px #b8b9be, inset -3px -3px 7px #fff;

/* BORDER VARIABLES */
$border: 0.1rem solid #e1e5ed;
$border-radius: 5px;
