:root {
  --font-primary: "Josefin Sans", sans-serif;
  --font-weight-normal: 330;
  --font-weight-bold: 500;

  color-scheme: dark light;

  --border-radius: 1px;

  /* destructure brand channels */
  --hue: 6;
  --saturation: 98%;
  --lightness: 82%;

  /* build colors with props */
  --brand: hsl(var(--hue) var(--saturation) var(--lightness));

  --accent: hsl(var(--hue) var(--saturation) 65%);

  /* very dark version of the brand color */
  --text: hsl(var(--hue) var(--saturation) 10%); /* lower is darker */

  /* very bright brand white */
  --background: hsl(
    var(--hue) calc(var(--saturation) / 2) 95%
  ); /* higher is lighter */

  --box-shadow: var(--text) 0px 25px 50px -12px;
  --border: 0.1rem solid var(--text);
}

@media (prefers-color-scheme: dark) {
  /* just tweak the lightness */
  /* maybe desaturate too */

  :root {
    --text: hsl(var(--hue) calc(var(--saturation) / 4) 70%);
    --background: hsl(calc(var(--hue) - 180) var(--saturation) 2%);
    --border: 0.1rem solid var(--text);
  }
}

@media (prefers-contrast: more) {
  :root {
    --text: #222222;
    --background: #efefef;
    --border: 0.3rem solid var(--text);
    --font-weight-normal: 450;
    --font-weight-bold: 700;
    --lightness: 50%;
  }
}
