*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // Set it to inherit to make it a bit easier to change box-sizing in other components, plugins
  box-sizing: inherit;
}

*::selection {
  color: white;
  background-color: var(--brand);
}

html {
  box-sizing: border-box;
  // Use a percentage to scale with the user's font-size set in the browser
  // 16/10=62.5% -> 1rem = 10px
  font-size: 62.5%;

  // Set overscroll color
  background-color: var(--background);

  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: unset;
  }
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  color: var(--text);
  font-weight: 330;
  line-height: 1.5;
  background: linear-gradient(
    to top left,
    rgba(254, 173, 166, 0.6) 0%,
    var(--background) 55%
  );
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

section {
  padding: 0 6rem 6rem;
  transition: height 0.3s ease;
  overflow: auto;
  // Keep content at the top of the page if there not enough to fill it
  margin-bottom: auto;

  @media (max-width: 1100px) {
    padding: clamp(1.5rem, 5vw, 14rem);
  }
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100 700;
  font-display: fallback;
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 100 700;
  font-display: fallback;
  src: url("../fonts/JosefinSans-Italic-VariableFont_wght.ttf")
    format("truetype");
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: clamp(3rem, 4vw, 8rem);
  line-height: 1.4;
}

h2 {
  font-weight: 500;
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  line-height: 1.3;
}

.btn {
  &,
  &:link,
  &:visited {
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;
    margin-right: -1.8rem;
    color: var(--text);
    display: inline-block;
    border-top: 1px solid var(--shadow-color);
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.55rem 0.95rem;
    font-size: 2rem;
    line-height: 1.5;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &:focus-visible {
    box-shadow: var(--box-shadow-inset);
  }

  @media (pointer: fine) and (hover: hover) {
    &:hover {
      box-shadow: var(--box-shadow-inset);
      transition: all 0.5s ease;
    }
  }

  @media (pointer: coarse) {
    &:active {
      box-shadow: var(--box-shadow-inset);
    }
  }
}

/***********************************************
************************************************
UTILITY CLASSES
************************************************
***********************************************/

.mb-xs {
  margin-bottom: 0.3rem;
}

.mb-s {
  margin-bottom: 0.6rem;
}

.mb-m {
  margin-bottom: 1.2rem;
}

.mb-l {
  margin-bottom: 3rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

.mb-xxl {
  margin-bottom: 10rem;
}

.mt-xs {
  margin-top: 0.3rem;
}

.mt-s {
  margin-top: 0.6rem;
}

.mt-m {
  margin-top: 1.2rem;
}

.mt-l {
  margin-top: 3rem;
}

.mt-xl {
  margin-top: 6rem;
}

/***********************************************
************************************************
PAGE ANIMATIONS
************************************************
***********************************************/

.page-enter-active {
  animation: bounce-in 0.8s;
}

.page-leave-active {
  animation: bounce-out 0.5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

/***********************************************
************************************************
SCROLLBAR STYLING
************************************************
***********************************************/

/* Works in Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--text);
}

/* Works in Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--text);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: var(--border-radius);
}
